@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
/* color palette */
:root {
  --color-primary: #6d9b76;
  --color-secondary: #4b674f;
  --color-accent: #e0caaf;
  --color-accent-dark: #ddad72;
  --color-accent-darker: #b38c5d;
  --color-background: #f8f8f8;
  --color-background-soft: #fcfcfc;
  --color-background-mute: #f2f2f2;
  --color-border: #d8d8d8;
  --color-border-hover: #c5c5c5;
  --color-heading: #333333;
  --color-text: #666666;
  --color-shadow: #0706064b;
  --section-gap: 160px;
  --color-droplet: #79a6d2;
}



/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: #222222;
    --color-background-soft: #292929;
    --color-background-mute: #282828;
    --color-border: #666666;
    --color-border-hover: #888888;
    --color-heading: #ffffff;
    --color-text: #bbbbbb;
  }
} */

/* default styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-weight: normal;
}

.cl-bg-primary {
  background-color: var(--color-primary);
}

.cl-bg-secondary {
  background-color: var(--color-secondary) !important;
}

.cl-accent {
  background-color: var(--color-accent);
}

.bg-background {
  background-color: var(--color-background);
}

.cl-bg-white {
  background-color: var(--color-background-soft);
}

.bg-background-mute {
  background-color: var(--color-background-mute);
}

.cl-border {
  border: 1px solid var(--color-border);
}

.cl-shadow:hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  transition: box-shadow 0.3s ease-in-out;
}

.cl-shadow-down {
  box-shadow: 0px 2px 15px 1px var(--color-shadow);
}

.cl-shadow-up {
  box-shadow: 0px -2px 15px 1px var(--color-shadow);
}

.cl-shadow-right {
  box-shadow: 2px 0px 15px 1px var(--color-shadow);
}

.cl-shadow-left {
  box-shadow: -2px 0px 15px 1px var(--color-shadow);
}

.cl-border-hover:hover {
  border-color: var(--color-border-hover);
}

.cl-text-primary {
  color: var(--color-primary);
}

.cl-text-secondary {
  color: var(--color-secondary);
}

.cl-text-accent {
  color: var(--color-accent);
}

.text-heading {
  color: var(--color-heading);
}

.cl-text {
  color: var(--color-text);
}

.cl-white {
  color: var(--color-background-soft);
}

.cl-break {
  width: 100% !important;
  margin-top: 50px !important;
}

.cl-highlight:hover {
  border-color: var(--color-primary);
  box-shadow: 0px 0px 3px var(--color-primary);
  transition:.5s;
}

.cl-highlighted {
  border-color: var(--color-primary) !important;
  box-shadow: 0px 0px 7px var(--color-primary) !important;
  
}





/* SCROLLBAR */

* {

  scrollbar-gutter: stable;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: var(--color-accent);
}