/* color palette */
:root {
  --color-primary: #6d9b76;
  --color-secondary: #4b674f;
  --color-accent: #e5d8c9;
  --color-background: #f8f8f8;
  --color-background-soft: #fcfcfc;
  --color-background-mute: #f2f2f2;
  --color-border: #d8d8d8;
  --color-border-hover: #c5c5c5;
  --color-heading: #333333;
  --color-text: #666666;
  --section-gap: 160px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: #222222;
    --color-background-soft: #292929;
    --color-background-mute: #282828;
    --color-border: #666666;
    --color-border-hover: #888888;
    --color-heading: #ffffff;
    --color-text: #bbbbbb;
  }
} */

/* default styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-weight: normal;
}

.cl-bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.cl-accent {
  background-color: var(--color-accent);
}

.bg-background {
  background-color: var(--color-background);
}

.cl-bg-background-soft {
  background-color: var(--color-background-soft);
}

.bg-background-mute {
  background-color: var(--color-background-mute);
}

.cl-border {
  border: 1px solid var(--color-border);
}

.cl-border-hover:hover {
  border-color: var(--color-border-hover);
}

.cl-text-primary {
  color: var(--color-primary);
}

.cl-text-secondary {
  color: var(--color-secondary);
}

.cl-text-accent {
  color: var(--color-accent);
}

.text-heading {
  color: var(--color-heading);
}

.cl-text-text {
  color: var(--color-text);
}

.cl-white {
  color: var(--color-background-soft);
}
