@import './base.css';
@import './dividers.css';
@import './dividers-forms.css';

body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
  Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-text) !important;
  background-color: var(--color-background) !important;
}

input:focus,
textarea:focus {
  border-color: var(--color-primary) !important;
  box-shadow: none !important;
}

.toggle-container:focus {
  box-shadow: none;
}

input[type="checkbox"]:checked {
  background-color: var(--color-primary);
  border: none;
}

a {
  color: var(--color-secondary) !important;
}

a:hover {
  color: var(--color-primary) !important;
}

.vh-100 {
  min-height: 100vh;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

.cursor-deny {
  cursor: not-allowed;
}

.btn-secondary {
  background-color: var(--color-accent-dark);
  border: none;
}

.btn-secondary:hover {
  background-color: var(--color-accent-darker);
}

.btn-success-outline {
  color: var(--color-primary);
  background-color: transparent;
  border-color: var(--color-primary);
}

.btn-success-outline:hover {
  color: var(--color-background-soft);
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.btn-warning-outline {
  color: var(--color-accent-dark);
  background-color: transparent;
  border-color: var(--color-accent-dark);
}

.btn-warning-outline:hover {
  color: var(--color-background-soft);
  background-color: var(--color-accent-dark);
  border-color: var(--color-accent-dark);
}

.btn-success {
  background-color: var(--color-primary);
  border: none;
}

.btn-success:hover {
  background-color: var(--color-secondary);
}

.y-scroll {
  overflow-y: scroll;
}

.x-scroll {
  overflow-x: scroll;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.img-library-thumbnail {
  width: 64px;
  height: 64px;
}

.img-sm {
  width: 50px;
  height: auto;
}

.img-md {
  width: 75px;
  height: auto;
}

.img-lg {
  width: 150px;
  height: auto;
}

.img-library {
  width: auto;
  height: 256px;
}

.border-box {
  box-sizing: border-box !important;
}


.hover {
  background-color: initial; /* Kolor domyślny */
  transition: background-color 0.5s ease; /* Przejście dla zmiany koloru */
}

.hover:hover {
  background-color: var(--color-secondary);
  transition: background-color 0.5s ease;
}


/* ceny */
.price {
  color: var(--color-primary);
  font-weight: bold;
  font-size: 1.2rem;
}

.discount {
  font-weight: bold;
  font-size: 0.8rem;
  text-decoration: line-through;
}

.slide-hr {
  width: 2%;
  height: 3px;
  border-radius: 15px;
  border: none;
  margin: auto;
  color: var(--color-heading);
  background-color: var(--color-heading);
  transition: width linear 1s;
}

.form-floating > .form-control:not(:-moz-placeholder-shown) ~ label {
  opacity: 1;
  color: rgba(0, 0, 0, 0.5);
  background-color: #fff;
  height: auto;
  padding: 0px;
  padding: 0px 0px 0px 10px;
  width: 100%;
  transform: scale(0.982) translateY(0.045rem) translateX(0.1rem);
  border-radius: 5px 0 0 0;
}
textarea.form-floating > .form-control:focus ~ label,
textarea.form-floating > .form-control:not(:placeholder-shown) ~ label,
textarea.form-floating > .form-select ~ label {
  opacity: 1;
  color: rgba(0, 0, 0, 0.5);
  background-color: #fff;
  height: auto;
  padding: 0px 0px 0px 10px;
  width: 100%;
  transform: scale(0.982) translateY(0.045rem) translateX(0.1rem);
  border-radius: 5px 0 0 0;
}
textarea.form-floating > .form-control:-webkit-autofill ~ label {
  opacity: 1;
  color: rgba(0, 0, 0, 0.5);
  background-color: #fff;
  height: auto;
  padding: 0px;
  padding: 0px 0px 0px 10px;
  width: 100%;
  transform: scale(0.982) translateY(0.045rem) translateX(0.1rem);
  border-radius: 5px 0 0 0;
}

input[type="radio"]:checked {
  background-color: var(--color-primary);
  border: var(--color-primary);
}

.rounded-2 {
  border-radius: 20px !important;
}

.border-2 {
  border-width: 2px !important;
}

.bm-burger-button {
  position: static;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.bm-burger-bars {
  background-color: white !important;
  
}

.bm-menu {

  background-color: #f8f8f8; /* Black*/
  font-size: 18px;
  border-right: solid 1px d8d8d8;
  box-shadow: 2px 0px 15px 1px var(--color-shadow);

}

.bm-item-list span {
  color: #666666 !important;
}

.hr-divider {
  --b: 6px;
  /* control the border thickness */
  --w: 80px;
  /* control the width of the line*/
  --g: 15px;
  /* control the gap */
  --c: #0B486B;

  width: fit-content;
  padding: 0 1em;
  line-height: 1.6em;
  border: 1px solid;
  color: #fff;
  background:
      conic-gradient(from 45deg at left, var(--c) 25%, #0000 0) 0,
      conic-gradient(from -135deg at right, var(--c) 25%, #0000 0) 100%;
  background-size: 51% 100%;
  background-origin: border-box;
  background-repeat: no-repeat;
  border-image:
      linear-gradient(#0000 calc(50% - var(--b)/2),
          var(--c) 0 calc(50% + var(--b)/2),
          #0000 0) 1/0 var(--w)/calc(var(--w) + var(--g));
  margin-inline: auto;
}

.toggle-on {
  background: #6d9b76;
  border-color: #6d9b76;
  outline: none;
}

.toggle-container:focus {
  outline: none;
  box-shadow: none !important;
  border: none;
}

