@import './base.css';

body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
  Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-text) !important;
  background-color: var(--color-background) !important;
}

input:focus,
textarea:focus {
  border-color: var(--color-primary) !important;
  box-shadow: none !important;
}

.toggle-container:focus {
  box-shadow: none;
}

a {
  color: var(--color-secondary) !important;
}

a:hover {
  color: var(--color-primary) !important;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

.cursor-deny {
  cursor: not-allowed;
}

.btn-success-outline {
  color: var(--color-primary);
  background-color: transparent;
  border-color: var(--color-primary);
}

.btn-success-outline:hover {
  color: var(--color-background-soft);
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.y-scroll {
  overflow-y: scroll;
}

.x-scroll {
  overflow-x: scroll;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.img-sm {
  width: 50px;
  height: auto;
}

.img-md {
  width: 75px;
  height: auto;
}

.img-lg {
  width: 150px;
  height: auto;
}

.border-box {
  box-sizing: border-box !important;
}


.hover {
  background-color: initial; /* Kolor domyślny */
  transition: background-color 0.5s ease; /* Przejście dla zmiany koloru */
}

.hover:hover {
  background-color: var(--color-secondary);
  transition: background-color 0.5s ease;
}


/* ceny */
.price {
  color: var(--color-primary);
  font-weight: bold;
  font-size: 1.2rem;
}

.discount {
  font-weight: bold;
  font-size: 0.8rem;
  text-decoration: line-through;
}

.slide-hr {
  width: 2%;
  height: 3px;
  border-radius: 15px;
  border: none;
  margin: auto;
  color: var(--color-heading);
  background-color: var(--color-heading);
  transition: width linear 1s;

}